@model UserDashboardDetails;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@*
<h1>Index</h1>*@

 
<div class="col-xl-12 col-xxl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                
                                <div class="copy-wallet mt-4">
                                    <form action="#">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <h2>Username:  @Model.UserID </h2>
                                               
                                              <h4 class="card-title">Walet Address</h4>
                                                <!-- <label>Bitcoin wallet address</label> -->
                                                <div class="input-group mb-3 mb-md-0">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text input-text-btc"><i class="cc BTC-alt"></i></span>
                                                    </div>
                                                    <input id="txtwalletaddress" name="txtwalletaddress" type="text" placeholder="" class="form-control"  aria-label="Example text with button addon" aria-describedby="button-addon1"/> 
                                                    <div class="input-group-append">
                                                        <button data-clipboard-target="#input1" class="btn btn-primary btn-flat clipboard-btn" title="Copy to clipboard" type="button" id="button-addon1"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                                <br />
                                                 <h4>Refferal Link : <span>https://tcnxcoin.com/Login/index?refid=@Model.UserID</span> </h4>
                                            </div>
                                         
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
<div class="row">

                    <div class="col-xl-12 col-xxl-12">
                        <div class="row">
                            <div class="col-sm-6 col-xxl-6 col-xl-3">
                                <div class="card stat-widget-one bg-btc">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h4 class="mb-3">Crypto Balance</h4>
                                                
                                                <h3 class="mb-3 btn btn-outline-primary"><span class="counter"> <lable id="MyBalanceTrx" name="MyBalanceTrx"></lable></span> TRX</h3>
                                                
                                                 <h3 class="mb-3 btn btn-outline-danger"><span class="counter"> <lable id="MyBalanceTcnx" name="MyBalanceTcnx"></lable> </span> TCNX </h3>
                                            </div>
                                            <div class="col-auto">
                                                <i class="cc BTC-alt" title="BTC"></i>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-6 col-xl-3">
                                <div class="card stat-widget-one bg-eth">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                 <h3 class="mb-3"><span  class=" bold btn btn-outline-success" > My Rank :@Model.MyRank</span> </h3>
                                                <h3 class="mb-3 btn btn-outline-danger"><span class="counter">Investment: @Model.MyPackage $</span> TCNX RATE</h3>
                                                 <h3 class="mb-3 btn btn-outline-danger"><span class="counter">@Model.CoinValue $</span> TCNX RATE</h3>
                                                 
                                            </div>
                                            <div class="col-auto">
                                                <i class="cc cc ETH-alt" title="ETH"></i>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-6 col-xl-3">
                                <div class="card stat-widget-one bg-xrp">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h4 class="mb-3">My Refferal : @Model.MyDirect</h4>
                                                
                                                <h4 class="mb-3"><span class="counter">My Team : </span> @Model.MyTeam</h4>
                                            </div>
                                            <div class="col-auto">
                                                <i class="cc XRP-alt" title="XRP"></i>
                                            </div>
                                        </div>
                                       
                                        
                                       
                                    </div>
                                </div>
                            </div>
                          @*  <div class="col-sm-6 col-xxl-6 col-xl-3">
                                <div class="card stat-widget-one bg-dash">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h4 class="mb-3">Team Left : 0</h4>
                                                <h4 class="mb-3">Team Right : 0</h4>
                                            </div>
                                            <div class="col-auto">
                                                <i class="cc DASH-alt"></i>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>*@
                             <div class="col-sm-6 col-xxl-6 col-xl-3">
                                <div class="card stat-widget-one bg-dash">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h4>
                                                <table class="table table-responsive">
                                                    <tr>
                                                        <td>
                                                        Total Income
                                                        </td> 
                                                        <td> @Model.TotalIncome </td>
                                                    
                                                        <td>
                                                        Cashback Income
                                                        </td> 
                                                        <td> @Model.GrowthIncome </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        Booster Package Income
                                                        </td> 
                                                        <td> @Model.BiddingIncome </td>
                                                   
                                                        <td>
                                                        Team Income
                                                        </td> 
                                                        <td> @Model.Levelincome </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        Refferal Income
                                                        </td> 
                                                        <td> @Model.SponsorIncome </td>
                                                    </tr>
                                                </table>
                                                </h4>
                                            
                                            </div>
                                            <div class="col-auto">
                                                <i class="cc DASH-alt"></i>
                                            </div>
                                        </div>
                                        
                                        
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
<div class="col-lg-12 col-md-12">
<div class="card big-shadow">
<div class="card-header   py-0">
MY CLUBS
</div>
<div class="card-body card-block p-1">
<div class="table-responsive1">
<table class="table table-striped table-bordered table-hover comma-decimal-place  dt-responsive table-responsive" id="dataTables-example1" style="margin-bottom: 5px; ">
<thead>
<tr>
<th width="1%">SR</th>
<th>RANK</th>
<th width="5%">Refferal</th>

<th width="5%">INCENTIVES</th>
<th width="5%">Monthly</th>
<th width="5%">Date</th>
</tr>
</thead>
<tbody>
<tr class="ACHIEVED">
<td nowrap="" align="CENTER">1</td>
<td nowrap="">MEMBER</td>
<td align="right">0</td>


<td align="right" class="money">0<sup>%</sup></td>
<td align="right" class="money">0<sup>%</sup></td>

<td align="center" nowrap=""></td>
</tr>
<tr class="--">
<td nowrap="" align="CENTER">2</td>
<td nowrap="">Racer</td>
<td align="right">2</td>


<td align="right" class="money">200<sup>%</sup></td>
<td align="right" class="money">20<sup>%</sup></td>
<td align="center" nowrap=""></td>
</tr>
<tr class="--">
<td nowrap="" align="CENTER">3</td>
<td nowrap="">Tiger</td>
<td align="right">6</td>

<td align="right" class="money">200<sup>%</sup></td>
<td align="right" class="money">25<sup>%</sup></td>
<td align="center" nowrap=""></td>
</tr>
<tr class="--">
<td nowrap="" align="CENTER">5</td>
<td nowrap="">Universal Boss</td>
<td align="right">10</td>

<td align="right" class="money">200<sup>%</sup></td>
<td align="right" class="money">30<sup>%</sup></td>

<td align="center" nowrap=""></td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="col-lg-12">
<div class="card">
<div class="card-header   py-0">
MY TEAM INCENTIVES
</div>

<div class="card-body card-block p-1">
<div class="table-responsive11">
<table class="table table-striped table-bordered table-hover  table-responsive11" id="dataTables-example11">
<thead>
<tr>
<th width="1%">LEVEL</th>
<th width="1%">COUNT</th>
<th>Amount</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h4 class="card-title">TCNX Price List Cart</h4>
                                <div class="card-action">
                                    <a href="javascript:void(0)" data-action="collapse"><i class="mdi mdi-arrow-down"></i></a>
                                    <div class="dropdown show d-inline-block">
                                        <a class="btn" href="#" role="button" data-display="static" data-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-settings"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" data-action="reload"><span class="mdi mdi-refresh"></span></a>
                                    <a href="javascript:void(0)" data-action="expand"><i class="mdi mdi-arrow-expand-all"></i></a> 
                                    <a href="javascript:void(0)" data-action="close"><i class="mdi mdi-close"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-wrapper">
                                    <h3><strong><span class="counter">@Model.CoinValue $</span> TCNX</strong></h3>
                                    <div id="balance_graph"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
     <script>
    var obj = setInterval(async () => {
        if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
            var _add = await window.tronWeb.defaultAddress.base58;
                var _balance = await tronWeb.trx.getBalance(_add);
                var _hxadd = await tronWeb.address.toHex(_add);
                //$('#txtwalletaddress1').html(_add);
                $("#txtwalletaddress").val(_add);
                //$('#txtwalletaddress').html(_add);
                $('#MyBalanceTrx').html((_balance / 1000000).toFixed(3));

                const CONTRACT = "TAHx3VepqXcUAVSsKccJ56j2ZKMMsPKt3B";

                
                    try {
                        const {
                            abi
                        } = await tronWeb.trx.getContract(CONTRACT);
                        const contract = tronWeb.contract(abi.entrys, CONTRACT);
                        var balance = await contract.methods.balanceOf(_add).call();
                        balance = balance / 1000000000000000000;
                        $('#MyBalanceTcnx').html(balance.toFixed(3))
                    } catch (error) {
                        console.error("trigger smart contract error", error)
                    }
            clearInterval(obj)
            //var tronweb = window.tronWeb
            ////document.write("AI Universe : Your tron address:", window.tronWeb.defaultAddress.base58)
            /////**/
            //$('#txtwalletaddress').val(tronweb.defaultAddress.base58);    /**/
            //var _add = tronWeb.defaultAddress.base58;
            //var _balance =  tronWeb.trx.getBalance(_add);
            //$('#MyBalanceTrx').val(_balance);
            //var tx = await tronweb.transactionBuilder.sendTrx('TQJGCyiaib3VuVFUVxd1r4xSCkouNVizS4', 10000, window.tronWeb.defaultAddress.base58)
            //var signedTx = await tronweb.trx.sign(tx)
            //var broastTx = await tronweb.trx.sendRawTransaction(signedTx)
            //document.write("Yes, catch it:", window.tronWeb.defaultAddress.base58)
            console.log(broastTx)
}
}, 10)
</script>