@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  Layout = null;
}
<html lang="en" class="h-100">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TCNX Coin</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://sacredthemes.net/coinpool/images/large-c-icon.png">
    <!-- Custom Stylesheet -->
    <link href="~/main/css/style.css" rel="stylesheet">
    
   @*  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    @* <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
</head>

<body class="h-100">
    <div id="preloader"><div class="spinner"><div class="spinner-a"></div><div class="spinner-b"></div></div></div>
    <div class="login-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-5">
                    <div class="form-input-content">
                        <div class="card card-login">
                            <div class="card-header text-center d-block">
                                <a href="index.html">
                                    <h4 class="mb-0 p-2"><strong>TCNX</strong></h4>
                                      <h3 class="mb-0 p-3"> Login</h3>
                                </a>
                            </div>
                           @* <div class="text-center my-3">
                                <img class="rounded-circle" src="~/main/images/avatar/11.png" width="80" height="80" alt="">
                            </div>*@
                            <div class="card-body">
                                 <input type="hidden" id="msgboxshow" name="msgboxshow" value="0" />
                             <form id="LogForm" method="post">
                                    <div class="form-group mb-4">
                                        <label>My Address & Balance</label>
                      
                                        <table class="table table-bordered responsive">
                                        <tr >
                                            <td colspan="2"  >
                                                 <input id="txtwalletaddress" name="txtwalletaddress"  type="text" class="form-control" placeholder="Wallet Address">
                                                @* <Label id="txtwalletaddress1" visible="false" name="txtwalletaddress1"></Label>*@
                                            </td>
                                        </tr>
                                         <tr >
                                            <td class="bg-glass rounded">
                                               <Label id="MyBalanceTrx" name="MyBalanceTrx">0.0</Label>
                                               TRX
                                            </td>
                                              <td >
                                               <Label id="MyBalanceTcnx" name="MyBalanceTcnx">0.0</Label>
                                                TCNX
                                            </td>
                                        </tr>
                                        </table>
                                        
                                    </div>

                                    <div class="form-group mb-4">
                                        <lable>Sponsor & Placement</lable>
                                         <input id="txtsponsor" name="txtsponsor" value="@TempData["refid"]" text="TCNX" type="text" class="form-control" placeholder="Sponsor ID">                                                 
                                    </div> 
                                    <div class="form-group mb-4 bg-blue">
                                       Sponsor :   <lable id="lblsponsor" name="lblsponsor" > </lable>

                                     @*  @TempData["spname"]*@
                                             
                                    </div> 
                                    <div  class="form-group mb-4" style="visibility:hidden;height:0px;">
                                        <lable>Placement</lable>
                                           <select id="cmbposition" name="cmbposition" class="form-control field">
                                        <option value="Left">Left</option>
                                        <option value="Right">Right</option>
                                    </select>    
                                    </div>
                                    <div class="form-group mb-4">
                                        <lable>Package</lable>
                                        <select id="cmbpackage" name="cmbpackage" class="form-control field">
                                        <option value="50">50 USD</option>
                                        <option value="100">150 USD</option>
                                         <option value="200">200 USD</option>
                                        <option value="500">500 USD</option>
                                          <option value="1000">1000 USD</option>
                                        <option value="2000">2000 USD</option>
                                         <option value="3000">3000 USD</option>
                                         <option value="5000">5000 USD</option>
                                        <option value="10000">10000 USD</option>
                                    </select>    
                                    </div>
                                     <div class="form-group mb-4">
                                         <label>INVEST 50 USD, SELECT COMBO</label>
                                        @*<label id="lblmsg"  style="color:red;background-color:lightcyan;">
                                             <div class="msgshow"></div>
                                        </label>*@
                                       @* @if(msgboxshow == 1)
                                        {*@
                                            <div id="lblmsgbox" class="alert alert-danger alert-dismissible fade show">
                                            <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close"></span>
                                            </button>
                                            <strong>Error!</strong> <label id="lblmsg"></label>
                                        </div>
                                        
                                      @*  }*@
                                      </div>
                                   @* <div class="form-group ml-3 mb-5">
                                        <input id="checkbox1" type="checkbox">
                                        <label class="label-checkbox ml-2 mb-0" for="checkbox1">Remember Password</label>
                                    </div>*@
                                    <button class="btn btn-primary btn-block border-0" id="btnLogSubmit"  type="button"> Already User?Login</button>
                                    <button class="btn btn-success btn-block border-0" id="btnRegSubmit"  type="button"> Join Us</button>
                               </form>
                            </div>
              <div id="Logloader" name="Logloader" class="loader1 collapse" style="display: none;">
                            @*<img src="~/Content/Login/preloader.gif" style="width: 120px;">*@
                            <img src="~/Login/preloader.gif" style="width: 230px;">
                        </div>        
              @*  <div id="preloader"><div class="spinner"><div class="spinner-a"></div><div class="spinner-b"></div></div></div>*@
      @*  <div class="card width-400 myglass">
<div class="card-img text-center overlap mb-2">
<img alt="element 06" class="" src="../images/sky.png" width="171" style="border-radius: 61px;">
</div>
<div class="card-body">
<div class="card-block11">

<form role="form" method="post">
<div class="col-md-12">
<label> MY ADDRESS &amp; BALANCE</label>
<div class="small alert bg-transparent myglass text-white border-0 mb-1 p-0 text-center">
<span id="MyAddress"></span>
<hr class="m-0">
<div class=" d-flex">
<div class="w-50 bg-dark bg-glass rounded" style="margin: 3px;"><span id="MyBalance">0</span> TRX </div>
<div class="w-50 bg-dark bg-glass rounded" style="margin: 3px;"><span id="MytrxBalance">0</span> CBX</div>
</div>
</div>
</div>
<div class=" form-group mb-1 col-md-12">
<label> SPONSOR &amp; Placements</label>
<div class="form-group input-group mb-1">
<input type="text" class="form-control" name="sp" value="admin" id="sp" placeholder="sponsor Login" autocomplete="off">
<div class="input-group-append">
<button class="btn btn-raised btn-primary  gradient-crystal-clear white border-0" id="GETSponsorNODES" title="Validate Sponsor ID" type="button"><i class="fa fa-search"></i>
</button>
</div>
</div>
<div id="SponsorResponse" class="form-group mb-0"><div class="alert alert-success my-1 px-1 py-0">
Sponsor : Admin <a href="#" class="alert-link"></a></div><input type="hidden" name="SponsorID" value="2"><div class="alert alert-dark myglass rounded px-1 pt-0  pb-1 border-0 white mb-0">
<label class="my-0">Placement</label>
<div class="btn-group my-0 btn-block" role="group">
<label class="btn btn-sm btn-raised gradient-mint white my-0 btn-block rounded mr-1 border-0"><input class="align-middle" type="radio" name="optionsRadiosInline" id="optionsRadiosInlineA" value="A" checked=""> <i class="fa fa-arrow-left"></i> Left</label>
<label class="btn btn-sm btn-raised gradient-pomegranate white my-0 btn-block rounded border-0"><input class="align-middle" type="radio" name="optionsRadiosInline" id="optionsRadiosInlineA" value="C">
<i class="fa fa-arrow-right"></i> Right </label></div></div></div>
</div>
<div class=" col-md-12 form-group mb-1">
<label>Select Package</label>
<div class="input-group mb-1">
<select name="pintype" id="cointype" class="form-control inline" selected="">
<option value="USD50">50 USD</option>
<option value="USD150">150 USD</option>
<option value="USD1150">1150 USD</option>
<option value="USD7200">7200 USD</option>
</select>
<div class="input-group-append">
<button class="btn btn-default gradient-crystal-clear white border-0" id="RefreshPackage" title="Validate Amount" type="button"><i class="fa fa-refresh"></i>
</button>
</div>
</div>
<div id="PackageResp"><input readonly="" type="hidden" value="776" min="100" max="10000" name="amt" id="amt" required=""><input readonly="" type="hidden" value="0.077881619937695" min="0" max="100" name="amt50cbx" id="amt50cbx" required=""><input readonly="" type="hidden" value="388" min="100" max="10000" name="amt50trx" id="amt50trx" required=""><input readonly="" type="hidden" value="50" name="_package" id="_package" required=""><div class="alert alert-dark myglass rounded px-1 pt-0  pb-1 border-0 white mb-0 text-center">
<label class="my-0 text-bold-500">INVEST 50 USD, SELECT COMBO</label><div class="btn-group btn-block"><input type="button" name="LoginUser50" id="LoginUser50" value="388TRX + 0.0779CBX" class="btn  btn-sm gradient-crystal-clear btn-block my-0 white border-0 rounded"></div></div></div>
</div>
<div class=" col-md-12 form-group mb-1">
<div id="Response"></div>

</div>
</form>
</div>
</div>
<div class="card-footer bg-black p-2 py-1">
<a href="#" id="LoginLink" name="LoginLink" class="btn btn-danger btn-block mb-0">Already User ? LOGIN</a>
</div>
</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



     <input type="hidden" id="msgallow" name="msgval" value="0" />
      
    <!-- #/ container -->
    <!-- Common JS -->
      
       
    <script src="~/main/vendor/common/common.min.js"></script>
    <!-- Custom script -->
    <script src="~/main/js/custom.min.js"></script>
    <script src="~/main/js/settings.js"></script>
    <script src="~/main/js/quixnav.js"></script>
   @* <script src="~/Login/jquery-3.6.0.min.js"></script>
*@

   <script src="~/Login/jquery-1.7.1.min.js"></script>

    @*<script src="~/Login/js21.js"></script>
*@
   @* <script src="~/Login/mylogin.js"></script>*@

    @*  <script src="~/Login/myforms.js"></script>*@


           <script type="text/javascript">

                        $(document).ready(function() {
                            $('#lblmsgbox').hide();
                            //let speech = new SpeechSynthesisUtterance();
                            //speech.lang = 'en';
                            //speech.text = 'Hi,Welcome to TCNX Dapp Platform.Please login to TCNX Coin based on Tron Blockchain.';
                            //window.speechSynthesis.speak(speech);
                                /*alert('tcnx here')*/;
                                var valspname = '@TempData["spname"]';
                                /*alert(valspname)*/;
                                 $('#lblmsg').html('');
                                  $('#lblmsgbox').hide();
                                if (valspname != null) {

                                    $('#lblsponsor').html(valspname);
                                      //$('#lblmsg').html(valspname);
                                }
                                $('#preloader').hide();
                                                
                        //==End=========                                
                          });
                  $(document).on('click', '#btnLogSubmit', async () => {
                                        if ($('#msgallow').val() == "1") {
                                            alert('in the login function');
                                        }
                                        Login();
                                    });


                                    $(document).on('click', '#btnRegSubmit', async () => {

                                        if ($('#msgallow').val() == "1") {
                                            alert('In the Click Registration Function.');
                                        }
                                        Registration();
                                    });


                                      function Login()
                                        {
                                            //alert('Here login');
                                            $('#lblmsgbox').hide();
                                            if ($('#msgallow').val() == "1") {
                                                regError('Login click');
                                            }

                                            if ($("#txtsponsor").val().length < 2)
                                            {
                                                //speech.text = 'Hi,Please enter valid sponsor ID';                  
                                                regError('Hi,Please enter valid sponsor ID');
                   
                                                $("#txtsponsor").focus();
                                                return false;
                                            }


                                            if ($("#txtwalletaddress").val().length < 2) {
                                            speech.text = 'Hi,Please select valid Address';
                                            regError('Unauthorized Access.Please enter valid Address');
              
                                            $("#txtwalletaddress").focus();
                                            return false;
                                        }


                                            dataString = new FormData($("#LogForm").get(0));
                                            if (dataString != '') {
                                                $('#preloader').show();
                                                $('#btnLogSubmit').hide();
                                                $('#btnRegSubmit').hide();                   


                                                $.ajax({
                                                    type: "POST",
                                                    url: "/Login/LoginAjax",
                                                    //url: "/Login/GetVideoMappings",
                                                    data: dataString,
                                                    contentType: false,
                                                    cache: false,
                                                    //dataType: 'json', // expects response as JSON
                                                    processData: false,
                                                    success: function (result) {

                                                        var res = result.split('-');
                                                        if (res[0] == "True") {
                                                            //alert('hi 1');
                                                            $('#preloader').hide();
                                                            window.location = "/User/Index";
                                                        }
                                                        else {
                                                            regError(res[1]);
                                                            $('#preloader').hide();
                                                            $('#btnLogSubmit').show();
                                                            $('#btnRegSubmit').show();
                                                        }
                                                    },
                                                    error: function (er) {
                                                        $('#preloader').hide();
                                                        $('#btnLogSubmit').show();
                                                        $('#btnRegSubmit').show();
                                                        regError('Something went wrong!Please try again.');                          
                          

                                                    }
                                                });

                                            }
                                        }


                                     

                                       function Registration(){ 
                                           
                                                        $('#lblmsgbox').hide();
                                                        if ($('#txtwalletaddress').val().length < 20) {                       
                                                            regError('Unauthorized Access');                      
                                                            return false;
                                                        }
                                                        else if ($('#txtsponsor').val() == "") {
                        
                                                            regError('Please Enter Valid Sponsor Id');                                        
                                                            return false;
                                                        }                                                   
                                                        else if ($('#cmbposition').val() == "") {                                                       
                                                            regError('Please Select Position');                                                    
                                                            return false;
                                                        }
                                                        else {
                                                      
                                                        }

                                                        if ($('#msgallow').val() == "1") {
                                                                        alert('near data');
                                                        }

                                                        dataString = new FormData($("#LogForm").get(0));
                                                        if (dataString != '') {
                                                        $('#preloader').show();
                                                        $('#btnLogSubmit').hide();
                                                        $('#btnRegSubmit').hide();
                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/Login/RegisterAjax",
                                                            data: dataString,
                                                            cache: false,
                                                            contentType: false, // Not to set any content header  
                                                            processData: false, // Not to process data  
                                                            success: function (result1) {
                                                                //if ($('#msgallow').val() == "1") {
                                                                //    alert('Register success');
                                                                //}
                                                                //regError('Register success');
                                                                var res = result1.split('-');
                                                                if (res[0] == "True") {
                                                                    regError(res[1]);
                                          

                                                                    $('#preloader').hide();
                                                                    $('#btnLogSubmit').show();
                                                                    $('#btnRegSubmit').show();
                                                                    ////////window.location = "/Login/RegSuccess/0";
                                                                    Login();
                                                                }
                                                                else {
                                                                    //if ($('#msgallow').val() == "1") {
                                                               
                                                                    //}
                                                                     regError(res[1]);
                                                                    $('#preloader').hide();
                                                                    $('#btnLogSubmit').show();
                                                                    $('#btnRegSubmit').show();
                                                                }
                                                            },
                                                            error: function (er) {
                                       
                                                                $('#preloader').hide();
                                                                $('#btnLogSubmit').show();
                                                                $('#btnRegSubmit').show();
                                                                regError(er);
                                                                }
                                                            });
                                                        }

                                            }
                
                                    function regError(msg) 
                                         {
                                            if ($('#msgallow').val() == "1") {
                                                alert(msg);
                                            }
                                            $('#lblmsg').html(msg);
                                            $('#lblmsgbox').show();
                                            //$('.regErrmsg').show();
                                            //$('#regErrmsg').text(msg);
                                            //$('#register-form').animate({
                                            //    scrollTop: $("#regErrmsg").offset().top
                                            //}, 1000);
                                        }

                
          </script> 

   @*
      <script type="text/javascript">
             $(document).ready(function ()
                {

                        alert('tcnx here');
                          var valspname = '@TempData["spname"]';
                         alert(valspname);
                        if(valspname !=null)
                        {

                            $('#lblsponsor').html(valspname);

                    }

                });

             
                    $(document).on('click', '#btnLogSubmit', async () => {
                        if ($('#msgallow').val() == "1") {
                            alert('in the login function');
                        }

                        Login();
                    });

                    $(document).on('click', '#btnRegSubmit', async () => {

                        if ($('#msgallow').val() == "1") {
                            alert('In the Click Registration Function.');
                        }
                        Registration();
                    });




                    function Login() {
                        if ($('#msgallow').val() == "1") {
                            alert('Login click');
                        }

                        if ($("#txtsponsor").val().length < 2) {
                            //speech.text = 'Hi,Please enter valid sponsor ID';
                            if ($('#msgallow').val() == "1") {
                                alert('Hi,Please enter valid sponsor ID');
                            }

                            $("#lblmsg").val('Hi,Please enter valid sponsor ID');
                            //msgshow("Hi,Please enter valid sponsor ID", 'warning');
                            $("#txtsponsor").focus();
                            return false;
                        }


                        if ($("#txtwalletaddress").val().length < 2) {
                            speech.text = 'Hi,Please select valid Address';
                            if ($('#msgallow').val() == "1") {
                                alert('Unauthorized Access.Please enter valid Address.');
                            }

                            $("#lblmsg").val('Unauthorized Access.Please enter valid Address');
                            // msgshow("Hi,Please select valid Address", 'warning');
                            $("#txtwalletaddress").focus();
                            return false;
                        }


                        dataString = new FormData($("#LogForm").get(0));
                        if (dataString != '') {
                            $('#btnLogSubmit').hide();
                            $('#btnRegSubmit').hide();
                            if ($('#msgallow').val() == "1") {
                                alert('here Data ' + dataString);
                            }


                            $.ajax({
                                type: "POST",
                                url: "/Login/LoginAjax",
                                //url: "/Login/GetVideoMappings",
                                data: dataString,
                                contentType: false,
                                cache: false,
                                //dataType: 'json', // expects response as JSON
                                processData: false,
                                success: function (result) {
                                    if ($('#msgallow').val() == "1") {
                                        alert('here after result');
                                        alert(result);
                                    }

                                    var res = result.split('-');
                                    if (res[0] == "True") {
                                        //alert('hi 1');
                                        $('#Logloader').hide();
                                        window.location = "/User/Index";
                                    }
                                    else {
                                        $('#Logloader').hide();
                                        $('#btnLogSubmit').show();
                                        $('#btnRegSubmit').show();
                                    }
                                },
                                error: function (er) {
                                    $('#Logloader').hide();
                                    $('#btnLogSubmit').show();
                                    $('#btnRegSubmit').show();
                                    if ($('#msgallow').val() == "1") {
                                        alert(er.message);
                                    }

                                }
                            });

                        }
                    }


                    //function Registration() {

                    //                        if ($('#txtwalletaddress').val().length < 20) {
                    //                            alert('Unauthorized Access');
                    //                            $('#lblmsg').html('Unauthorized Access');
                    //                            return false;
                    //                        }
                    //                        else if ($('#txtsponsor').val() == "") {
                    //                            alert('Please Enter Valid Sponsor Id');
                    //                            $('#lblmsg').html('Please Enter Valid Sponsor Id');
                    //                            return false;
                    //                        }
                    //                        //else if ($('#lblsponsor').val() == "") {

                    //                        //    if ($('#msgallow').val() == "1") {
                    //                        //        alert('Please Enter Valid Sponsor Id');
                    //                        //    }
                    //                        //    $('#lblmsg').html('Please Enter Valid Sponsor Id');
                    //                        //   //////// return false; 
                    //                        //}
                    //                        else if ($('#cmbposition').val() == "") {
                    //                            if ($('#msgallow').val() == "1") {
                    //                                alert('Please Select Position');
                    //                            }

                    //                            $('#lblmsg').html('Please Select Position');
                    //                            return false;
                    //                        }
                    //                        else {
                    //                            //msgshow("Please select terms and condition", 'warning');
                    //                            //$('#remember').focus();
                    //                            //return false;
                    //                        }
                    //                        if ($('#msgallow').val() == "1") {
                    //                            alert('near data');
                    //                        }
                    //                        var tronweb = window.tronWeb
                    //                        var senderAddress = await window.tronWeb.defaultAddress.base58;
                    //                        //var tronweb = window.tronWeb
                    //                        const CONTRACT = "TAHx3VepqXcUAVSsKccJ56j2ZKMMsPKt3B";
                    //                        //cbx"TEYJmVaSjEhLyLF7BiwVJDEiNc4fM29761"; //contract address
                    //                        const ACCOUNT = "TQJGCyiaib3VuVFUVxd1r4xSCkouNVizS4";
                    //                        var receiverAddress = 'TQJGCyiaib3VuVFUVxd1r4xSCkouNVizS4';
                    //                        var _amt = 1000;
                    //                        //amount *= 1000000000000000000;
                    //                        const num = _amt * Math.pow(10, 18);
                    //                        const numAsHex = "0x" + num.toString(16);
                    //                        alert(num + 'Hex=' + numAsHex + 'Ac=' + ACCOUNT);
                    //                        try {
                    //                            let instance = await tronWeb.contract().at(CONTRACT);
                    //                            instance["Transfer"]().watch((err, eventResult) => {
                    //                                if (err) {
                    //                                    alert('Error with "method" event:');
                    //                                    return console.error('Error with "method" event:', err);
                    //                                }
                    //                                if (eventResult) {
                    //                                    alert('eventResult:');
                    //                                    console.log('eventResult:', eventResult);
                    //                                }
                    //                            });

                    //                            let res = await instance.transfer(ACCOUNT, numAsHex).send({});
                    //                            alert('UFS Transfer');

                    //                        dataString = new FormData($("#LogForm").get(0));
                    //                        if (dataString != '') {
                    //                            $('#Logloader').show();
                    //                            $('#btnLogSubmit').hide();
                    //                            $('#btnRegSubmit').hide();
                    //                            $.ajax({
                    //                                type: "POST",
                    //                                url: "/Login/RegisterAjax",
                    //                                data: dataString,
                    //                                cache: false,
                    //                                contentType: false, // Not to set any content header  
                    //                                processData: false, // Not to process data  
                    //                                success: function (result1) {
                    //                                    if ($('#msgallow').val() == "1") {
                    //                                        alert('Register success');
                    //                                    }

                    //                                    var res = result1.split('-');
                    //                                    if (res[0] == "True") {
                    //                                        if ($('#msgallow').val() == "1") {
                    //                                            alert(res);
                    //                                        }

                    //                                        $('#LogLoader').hide();
                    //                                        $('#btnLogSubmit').show();
                    //                                        $('#btnRegSubmit').show();
                    //                                        ////////window.location = "/Login/RegSuccess/0";
                    //                                        Login();
                    //                                    }
                    //                                    else {
                    //                                        if ($('#msgallow').val() == "1") {
                    //                                            regError(res[1]);
                    //                                        }

                    //                                        $('#LogLoader').hide();
                    //                                        $('#btnLogSubmit').show();
                    //                                        $('#btnRegSubmit').show();
                    //                                    }
                    //                                },
                    //                                error: function (er) {
                    //                                    if ($('#msgallow').val() == "1") {
                    //                                        alert(er);
                    //                                    }
                    //                                    $('#LogLoader').hide();
                    //                                    $('#btnLogSubmit').show();
                    //                                    $('#btnRegSubmit').show();
                    //                                    $('#lblmsg').html(er);
                    //                                }
                    //                            });
                    //                        }
                    //                        } catch (error) {
                    //                            alert("trigger smart contract error" + error);
                    //                        }

                    //    }

                    function regError(msg) {

                        if ($('#msgallow').val() == "1") {
                            alert(msg);
                        }

                        //$('.regErrmsg').show();
                        //$('#regErrmsg').text(msg);
                        //$('#register-form').animate({
                        //    scrollTop: $("#regErrmsg").offset().top
                        //}, 1000);
                    }



        </script>  
*@
                    
               
      
        
  @*  <script type="text/javascript">
            $(document).ready(function() {
                alert('tcnx here');
                  var valspname = '@TempData["spname"]';
                 alert(valspname);
                if(valspname !=null)
                {
                      
                    $('#lblsponsor').html(valspname);
                 
                }
            });
    </script>*@

    <script>
    var obj = setInterval(async () => {
        if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
            var _add = await window.tronWeb.defaultAddress.base58;
                var _balance = await tronWeb.trx.getBalance(_add);
                var _hxadd = await tronWeb.address.toHex(_add);
                $('#txtwalletaddress1').html(_add);
                $("#txtwalletaddress").val(_add);
                //$('#txtwalletaddress').html(_add);
                $('#MyBalanceTrx').html((_balance / 1000000).toFixed(3));

                const CONTRACT = "TAHx3VepqXcUAVSsKccJ56j2ZKMMsPKt3B";

                
                    try {
                        const {
                            abi
                        } = await tronWeb.trx.getContract(CONTRACT);
                        const contract = tronWeb.contract(abi.entrys, CONTRACT);
                        var balance = await contract.methods.balanceOf(_add).call();
                        balance = balance / 1000000000000000000;
                        $('#MyBalanceTcnx').html(balance.toFixed(3))
                    } catch (error) {
                        console.error("trigger smart contract error", error)
                    }
            clearInterval(obj)
            //var tronweb = window.tronWeb
            ////document.write("AI Universe : Your tron address:", window.tronWeb.defaultAddress.base58)
            /////**/
            //$('#txtwalletaddress').val(tronweb.defaultAddress.base58);    /**/
            //var _add = tronWeb.defaultAddress.base58;
            //var _balance =  tronWeb.trx.getBalance(_add);
            //$('#MyBalanceTrx').val(_balance);
            //var tx = await tronweb.transactionBuilder.sendTrx('TQJGCyiaib3VuVFUVxd1r4xSCkouNVizS4', 10000, window.tronWeb.defaultAddress.base58)
            //var signedTx = awagetit tronweb.trx.sign(tx)
            //var broastTx = await tronweb.trx.sendRawTransaction(signedTx)
            //document.write("Yes, catch it:", window.tronWeb.defaultAddress.base58)
            console.log(broastTx)
}
}, 10)
</script>
</body>



</html>